   .container{
       width:20rem;
       background-color: hsl(216, 50%, 16%);
       border-radius: 15px;
       width:22rem;
       padding:1rem;
   }

body{
    font-size:18px;
    font-family: 'Outfit';
    font-weight:300;
    background-color:  hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

    @media screen{
        main{
            max-width:1440px;
            min-width:375px;
    
        }
        } 


        .nft-image{
            width:100%;
            border-radius:15px;
            position:relative;
            overflow:hidden;
        }


        .nft-card{
            border-radius: .5rem;
            overflow: hidden;
            position:relative;
        }
       
       .card-overlay-container{
            background-color: cyan;
            position: absolute;
	        top: 0;
	        bottom: 0;
	        left: 0;
	        right: 0;
	        opacity: 0;
	        transition: opacity ease-in 0.3s;
	        border-radius: 1rem;
	        display: flex;
	        justify-content: center;
	        align-items: center;

        }  

             .card-overlay-container:hover {
                opacity: 1;
                cursor:pointer;
            }
    
        
        #first-sentence{
            color:hsl(0, 0%, 100%);
            font-size: 18px;
            font-family: 'Outfit';
            line-height:1.5px;
            font-weight: 600px;;
            cursor:pointer;
        }
        
        #first-sentence:hover{
            color:cyan;
        }

.clock-pic{
    color: hsl(215, 51%, 70%);
    float:left;
}





hr{
    color:hsl(215, 32%, 27%);
    width:99%;
}


#location{
    color: hsl(178, 100%, 50%);
}

p{
    font-size:18px;
   color: hsl(215, 51%, 70%);
}


#creator-link{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}

#creator-image{
    width:10%;
}

#creator-name{
    color:hsl(0, 0%, 100%); 
    cursor: pointer;
}

#creator-name:hover{
    color:cyan;
}


.row{
    display:flex;
}

.column{
    flex:30%;
    padding:10px;
    height:15px;
}

/* footer */
footer{
    color:white;
    position:fixed;
}
.attribution { 
    font-size: 11px;
    text-align : center; 
}
.attribution a { 
   color: hsl(228, 45%, 44%);
 }
