.attribution { font-size: 11px;
     text-align : center; }
.attribution a { 
    color: hsl(228, 45%, 44%); }

   main{
       width:5px;
       height:550px;
       background-color: hsl(216, 50%, 16%);
       border-radius: 15px;
   }

body{
    font-size:18px;
    font-family: 'Outfit';
    font-weight:300, 400, 600;
    background-color:  hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

    @media screen{
        main{
            max-width:1440px;
            min-width:375px;
    
        }
        } 


.clock-pic{
    color: hsl(215, 51%, 70%);
    float:left;
}

#creator-name{
    color:hsl(0, 0%, 100%); 
}

#first-sentence{
    color:hsl(0, 0%, 100%);
}


hr{
    color:hsl(215, 32%, 27%);
    width:99%;
}


#location{
    color: hsl(178, 100%, 50%);
}

p{
    font-size:18px;
   color: hsl(215, 51%, 70%);
}


#creator-link{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}

#creator-image{
    width:10%;
}


#main-image{
    width:320px;
    height:290px;
    display: flex;
    justify-content: center;
    border-radius:15px;
    margin:5%;
}

.row{
    display:flex;
}

.column{
    flex:50%;
    padding:10px;
    height:300px;
}