.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    text-align:center;
    font-size:18px;
    font-family: 'Outfit';
    background-color:  hsl(217, 54%, 11%);
    color:hsl(0, 0%, 100%);
    width:45%;
}

.container{
    background-color:  hsl(216, 50%, 16%);
    text-align: center;
    border-radius: 15px;
}

hr{
    color:hsl(215, 32%, 27%);
    width:25%;
}

#creater-image{
    width:5%;
    height:14%;
}

#main-image{
    width:300px;
    height:250px;
    border-radius:15px;;
}